<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"]</title>
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            Header!  @ViewBag.title
            <br />
            <br />
            @Html.ActionLink("Hello World", "Index", "Home") <br/>
            @Html.ActionLink("Razor Syntax Demo", "RazorSyntaxDemo", "Home") <br/>
            @Html.ActionLink("Create Loosely Typed view (using Session Data)", "CreateSession", "Home") <br/>
            @Html.ActionLink("Create Loosely Typed' view (using ViewData/ViewBag)", "CreateViewData", "Home") <br/>
            @Html.ActionLink("Create Strongly Typed view (using model objects)", "CreateStrong", "Home") <br/>
            @Html.ActionLink("Create Dynamic view (using model objects)", "CreateDynamic", "Home") <br/>
        </header>
        <div class="content">
            @RenderBody()
        </div>
        <footer>
            Footer!
        </footer>
        @RenderSection("test",required:false);
    </body>
</html>
